<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="com.car.dao.StudentMapper"> -->
<mapper namespace="com.research.mapper.PoliticsMapper">
	<cache></cache>

	<resultMap type="com.research.model.Politics" id="PoliticsResult">
		<id property="id" column="id"/>
		<result property="title" column="title"/>
		<result property="author" column="author"/>
		<result property="origin" column="origin"/>
		<result property="contentFile" column="content_file"/>
		<result property="date" column="date"/>
		<result property="createdDate" column="created_date"/>
		<result property="lastUpdated" column="last_updated"/>
	</resultMap>

	<insert id="insertPolitics" parameterType="com.research.model.Politics" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select LAST_INSERT_ID() AS id
		</selectKey>
		INSERT INTO research_politics (title, aothor, origin, content_file,
		`date`, created_date, last_updated)
		VALUES (#{title},#{author},#{origin},#{contentFile},#{date},#{createdDate},#{lastUpdated})
	</insert>

	<delete id="deletePoliticsById"  parameterType="com.research.model.Politics">
		DELETE FROM research_politics
		WHERE id = #{id}
	</delete>

	<update id="updatePoliticsById" parameterType="com.research.model.Politics">
		UPDATE research_politics
		SET title = #{title}, author = #{author}, origin = #{origin},
		content_file = #{contentFile}, `date` = #{date},
		created_date = #{createdDate}, lastUpdated = #{lastUpdated}
	</update>

	<select id="getPoliticsById" resultMap="PoliticsResult">
		SELECT id,title, author, origin, content_file, `date`,
		created_date, last_updated
		FROM research_politics
		WHERE id = #{id}
	</select>

	<select id="getPolitics" resultMap="PoliticsResult">
		SELECT id,title, author, origin, content_file, `date`,
		created_date, last_updated
		FROM research_politics
		LIMIT #{pageIndex}, #{pageSize}
	</select>

	<select id="getPoliticsCounts">
		SELECT count(1)
		FROM research_politics
	</select>

</mapper>