body{

}
a{
	text-decoration:none;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}

.container{
	width:1100px;
	margin:0 auto;
}
.header-top-bar{
	width:100%;
	height: 46px;
	background-color:#5579ae;
	line-height:30px;
	color:#ffffff;
	

}
.nav-ul{
	list-style:none;
	font-family: "微软雅黑";

}
.nav-ul li{
	margin-left:20px;
	font-size: 16px;
}
.log{
	line-height: 36px;
	color:#ffffff;
	margin-right:50px;
	width:180px;
}
.log a{
	color:#ffffff;
}
.log a:hover{
	color:#ff3737;
}
.log img{
	padding-left:7px;
}
.log .box ul li{
	list-style: none;
	padding-left: 15px
}
.log .box{
	background-color: #ffffff;
	border:2px solid #a8a8a8;
	width:120px;
	min-height: 50px;
	display: none;
	position: absolute;
}
.log .box span{
	display: inline-block;
	width:90px;
	border:1px solid #a8a8a8;
}
.log .box a{
	color: #959595;
	font-family: "微软雅黑"
}
.log .box a:hover{
	color: #ff3737;
}
.header-top-bar a{
	color:#ffffff;
}
.header-top-bar a:hover{
	color:#ff3737;
}
.content {
	width:1000px;
	margin:0 auto;
	font-family:"微软雅黑";
}
.content h3{
	width:1000px;
	margin:40px auto;
	text-align:center;
}
.content .info{
	text-align:center;
}
.content .info p span{
	margin:0 10px;
}
.content .info p{
	margin:5px 0;
}
.content .introduce{
	width:1000px;
	word-break:break-all;
	margin-top:20px;
}
.content .introduce>span{
	float:left;
	
}
.content .remark{
	word-break:break-all;
	margin-top:20px;
}
.content .remark>span{
	float:left;
}
.content .rev{
	width:1000px;
	height:60px;
	margin:0 auto;
	margin:50px 0 0 500px;

}
.download-file{
	margin:30px 0;
}
.content .rev button{
	width:100px;
	height:40px;
	border:none;
	color: #ffffff;
	margin:20px;
}
.content .rev .pass{
	background-color: #19AE43;

}
.content .rev .no-pass{
	background-color: #E34E4E;
}

footer{
	width:100%;
	float:left;
	margin-top:150px;
}
.href-1{
	width:1100px;
	height:50px;
	margin:0 auto;
	border-bottom:4px solid #11ecd2;
}
.href-1 p{
	color:#5A5A5A;
	font-family: "微软雅黑";
	font-size:24px;
	line-height:50px;
	margin-left:20px;
}
.foot-1{
	width:100%;
	height:150px;
	background-color:#2d4e66;
	margin-top:50px;
}